body {
  margin: 0;
  font-family:
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* for menu button */
a:hover{
  opacity: 0.8;

}

/* for all i buttons */
i:hover{
  opacity: 0.5;
}
